#_____________________________________________________
#  1. R - Environments
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
# *.Rhistory

*.Rproj.user/
*.RData
.Rproj.user
.Rhistory

#_____________________________________________________
#  2. ipython notebook temporary check point
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
.ipynb_checkpoints/
